Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a="nishtha"

In [2]:
type(a)

str

In [3]:
l=[1,3,45,"hello","name"]

In [4]:
type(l)

list

In [5]:
a=23.654

In [6]:
type(a)

float

In [7]:
t=(1,2,56,76,"hi","world")

In [9]:
type(t)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [18]:
# i) string(str)
# ii)string (str)
# iii) List
# iv) integer(int)

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [28]:
a=24
b=5
a/b

4.8

In [27]:
a=56
b=5
a%b

1

In [29]:
a=25
b=4
a//b

6

In [30]:
a=4
b=2
a**b

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
l1=["hello,"]